html, body {
    height: 100%;
    width: 100%;
  }
  *{
      padding: 0;
      margin: 0;
      font-family: 'Josefin Sans', sans-serif;
      box-sizing: border-box;
  }
  body{
      background-color: #152238;
      overflow-x: hidden;
  }
  
  .hero{
      position: relative;
      height: 100vh;
      width: 100%;
      padding: 5px 0px;
      margin-bottom: 100px;
  }
  nav{
      font-size: 15px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      width: 84%;
  }
  .logo{
      color: white;
      font-size: 30px;
      letter-spacing: 1px;
      cursor: pointer;
  }
  span{
      color: #00B5E2;
  }
  nav ul li{
      list-style-type: none;
      display: inline-block;
      padding: 10px 25px;
  }
  nav ul li a{
      color: white;
      text-decoration: none;
      font-weight: bold;
      text-transform: capitalize;
  }
  nav ul li a:hover{
      color: #00B5E2;
      transition: 4s;
  }
  .btn{
      background-color: #00B5E2;
      color: #152238;
      text-decoration: none;
      border: 2px solid transparent;
      font-weight: bold;
      padding: 5px 15px;
      border-radius: 35px;
      transition: transform .4s;
  }
  .btn:hover{
      transform: scale(1.2);
  }
.container{
  margin: 100px auto 200px;
}
form{
    height: 430px;
    width: 400px;
    background-color: #44577734;
    border-radius: 10px;
    margin: auto;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 100px;
   /* position: relative;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;

    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 100px;*/
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 25px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
}
input{
    display: block;
    height: 40px;
    width: 93%;
    background-color: white;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #152238;
    font-size: 14px;
}
button{
    margin-top: 20px;
    width: 93%;
    background-color: #00B5E2;
    color: #152238;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 20px;
  display: flex;
  max-width: 100%;
  margin-left: 0px;
  justify-content: space-between;
  padding: 0px 20px;
}
.social div{
  width: 100px;
  border-radius: 30px;
  padding: 10px 20px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
  font-size: 12px;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}



  
footer {
    position:relative;
    bottom:0;
    width:100%;
    height:25px;
    background-color: #445777;
    margin-top: 50px;
}


footer .copyright {
    width: 100%;
    color: #fff;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    bottom:0;
}